You are a legal analyst tasked with reviewing the following document sections.

{% for comparison in comparisons %}
---
### Section: {{ comparison.standardised_title }}

Document {{ doc_a_file_name }}:
{{ comparison.doc_a_content }}

Document {{ doc_b_file_name }}:
{{ comparison.doc_b_content }}

{% endfor %}
---

The sections above are presented side-by-side because they are deemed equivalent.
However, the following sections from {{ doc_b_file_name }} were found to be distinct from those in {{ doc_a_file_name }}.
We should consider the implications of these differences.

{{ unmapped_sections_text }}

---

Instructions for analysis:
1. Provide a commentary on the nature of the differences to help the legal team understand impact and significance (e.g. substantive meaningful change over form).
2. The legal team is a group of highly senior lawyers, so you can assume a high level of legal knowledge in your commentary.
3. Make use of GitHub flavoured markdown to format your commentary.
4. The legal team is expecting a detailed analysis, so please be thorough in your review.

Use the following structure:

# Summary of Changes
Inlcuding:
- An overview of what the documents are about and what high level differences exist -- give the gist.
- Affected parties.
- Legal implications.
- Any other pertinent observations.

# Tabulated Differences
Use an appropriate table format to highlight the differences between the documents, including the following:
- The tabular representation of differences should go in-depth and be very thorough.
- Affected section
- Nature of the differences (be very detailed), with attribution to the document file name and the affected party
- Legal implications, like the type of risk and its severity and who is at risk. You are encouraged to be detailed here.


